<ion-view view-title='{{curType}} - {{curHouse}}'>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshCloth()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-icon-left" ng-show="!lists[0]">当前没有商品 <i class="icon ion-alert"></i></ion-item>
            <div class="row" ng-repeat="item in lists | filter: {type:curType == '所有分类' ? '' : curType} | filter: filterByHouse" ng-if="$index % 2 === 0">
                <div class="col col-50 list" ng-if="$index < lists.length" ng-click="add2Cart(lists[$index])">
                    <ion-item>{{lists[$index].name}}</ion-item>
                    <ion-item><img ng-src="{{genImgUrl(lists[$index].imageUrl)}}" width="100%" /></ion-item>
                    <ion-item>单价：{{lists[$index].price}}
                        <br/>已销量：{{lists[$index].sales}}</ion-item>
                </div>
                <div class="col col-50 list" ng-if="$index + 1 < lists.length" ng-click="add2Cart(lists[$index+1])">
                    <ion-item>{{lists[$index+1].name}}</ion-item>
                    <img ng-src="{{genImgUrl(lists[$index + 1].imageUrl)}}" width="100%" />
                    <ion-item>单价：{{lists[$index + 1].price}}
                        <br/>已销量：{{lists[$index + 1].sales}}</ion-item>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>