<ion-view view-title="订单详情" ng-controller="user">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        订单号：{{curOrder._id}}
      </div>
      <div class="item item-text-wrap">
        总计：{{curOrder.total}}
      </div>
      <div class="item item-divider">
        日期：{{curOrder.date | date}}
      </div>
    </div>
    <div class="list" ng-repeat="item in curOrder.itemArr">

        <a class="item item-thumbnail-left" href="#">
          <img ng-src='{{genImgUrl(item.itemId.imageUrl)}}'>
          <h2>数量：{{item.amount}}元</h2>
          <p>{{item.itemId.name}}</p>
          <p>款号：{{item.codeNumber}}</p>
          <p>尺寸：{{item.size}}</p>
          <p>颜色：{{item.color}}</p>
        </a>

    </div>
  </ion-content>
</ion-modal-view>