<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">确认订单</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="cancelSubmit()">取消</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="checkboxTest" ng-submit="submit()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">收件人</span>
          <input type="text" ng-model="user.personInfo.recieverName" required >
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">地址</span>
          <input type="text" ng-model="user.personInfo.address" required >
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">电话号码</span>
          <input type="text" ng-model="user.personInfo.phone" required >
        </label>

        <label class="item item-icon-right">
          总价:{{total()}}
          <i class="icon ion-social-yen"></i>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">确认提交</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>