<ion-view view-title="服装管理">
  <ion-content>
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="getLatestCloth()">
    </ion-refresher>
    <ion-list can-swipe="true">
      <ion-item class="item item-thumbnail-left" ng-repeat="item in cloth | orderBy: '-price' " type="item-text-wrap">
        <img ng-src="{{genImgUrl(item.imageUrl)}}">
        <h2>{{item.name}}</h2>
        <p>销量：{{item.sales}}</p>
        <p>会场：{{item.house ? item.house : "暂无"}}</p>
        <ion-option-button class="button-positive" ng-click="edit(item, $index)">
          编辑
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(item, $index)">
          删除
        </ion-option-button>
      </ion-item>
      <ion-item>
        <button class="button button-outline button-block button-positive" ng-click="itemModalAdd.show()">
          增加衣服
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
